doctypes/rng/base/hazardstatementDomain.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng"
                         schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:dita="http://dita.oasis-open.org/architecture/2005/"
  xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
    <moduleTitle>DITA Hazard Statement Domain</moduleTitle>
    <headerComment>
=============================================================
                   HEADER                                    
=============================================================
 MODULE:    DITA Hazard Statement Domain                     
 VERSION:   2.0                                              
 DATE:      [[[Release date]]]                                    
 PURPOSE:   Declaring the elements and specialization        
            attributes for the Hazard Statement Domain       
 
=============================================================

=============================================================
                   PUBLIC DOCUMENT TYPE DEFINITION           
                   TYPICAL INVOCATION                        
                                                             
 Refer to this file by the following public identifier or an 
      appropriate system identifier 
PUBLIC "-//OASIS//ELEMENTS DITA 2.0 Hazard Statement Domain//EN"
      Delivered as file "hazardstatementDomain.mod"               

=============================================================
                                                             
            (C) Copyright OASIS Open 2008, 2009.             
            All Rights Reserved.                             
                                                             
 UPDATES:                                                    
   2019.12.04 KJE: Updated for DITA 2.0                
=============================================================
    </headerComment>
    <moduleMetadata>
      <moduleType>elementdomain</moduleType>
      <moduleShortName>hazard-d</moduleShortName>
      <modulePublicIds>
        <dtdMod>-//OASIS//ELEMENTS DITA<var presep=" " name="ditaver"/> Hazard Statement Domain//EN</dtdMod>
        <dtdEnt>-//OASIS//ENTITIES DITA<var presep=" " name="ditaver"/> Hazard Statement Domain//EN</dtdEnt>
        <rngMod>urn:oasis:names:tc:dita:rng:hazardDomain.rng<var presep=":" name="ditaver"/></rngMod>
      </modulePublicIds>
    </moduleMetadata>
  </moduleDesc>

  <div>
    <a:documentation>DOMAIN EXTENSION PATTERNS</a:documentation>
    <define name="hazard-d-note">
      <ref name="hazardstatement.element"/>
    </define>

    <define name="note" combine="choice">
      <ref name="hazard-d-note"/>
    </define>

  </div>
  <div>
    <a:documentation>ELEMENT TYPE NAME PATTERNS</a:documentation>
    <define name="hazardstatement">
      <ref name="hazardstatement.element"/>
    </define>
    <define name="messagepanel">
      <ref name="messagepanel.element"/>
    </define>
    <define name="hazardsymbol">
      <ref name="hazardsymbol.element"/>
    </define>
    <define name="typeofhazard">
      <ref name="typeofhazard.element"/>
    </define>
    <define name="consequence">
      <ref name="consequence.element"/>
    </define>
    <define name="howtoavoid">
      <ref name="howtoavoid.element"/>
    </define>

  </div>
  <div>
    <a:documentation>Define elements content and attributes</a:documentation>

    <div>
      <a:documentation>LONG NAME: Hazard Statement</a:documentation>
      <define name="hazardstatement.content">
        <oneOrMore>
          <ref name="messagepanel"/>
        </oneOrMore>
      </define>
      <define name="hazardstatement.attributes">
        <attribute name="type">
          <choice>
            <value>caution</value>
            <value>danger</value>
            <value>notice</value>
            <value>warning</value>
            <value>-dita-use-conref-target</value>
          </choice>
        </attribute>
        <ref name="univ-atts"/>
      </define>
      <define name="hazardstatement.element">
        <element name="hazardstatement" dita:longName="Hazard Statement">
          <a:documentation></a:documentation>
          <ref name="hazardstatement.attlist"/>
          <ref name="hazardstatement.content"/>
        </element>
      </define>
      <define name="hazardstatement.attlist" combine="interleave">
        <ref name="hazardstatement.attributes"/>
      </define>

    </div>
    <div>
      <a:documentation>LONG NAME: Hazard Symbol</a:documentation>
      <define name="hazardsymbol.content">
        <optional>
          <ref name="alt"/>
        </optional>
        <optional>
          <ref name="longdescref"/>
        </optional>
      </define>
      <define name="hazardsymbol.attributes">
        <optional>
          <attribute name="href"/>
        </optional>
        <optional>
          <attribute name="format"/>
        </optional>
        <optional>
          <attribute name="scope">
            <choice>
              <value>external</value>
              <value>local</value>
              <value>peer</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="keyref"/>
        </optional>
        <optional>
          <attribute name="height">
            <data type="NMTOKEN"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="width">
            <data type="NMTOKEN"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="align"/>
        </optional>
        <optional>
          <attribute name="scale">
            <data type="NMTOKEN"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="scalefit">
            <choice>
              <value>yes</value>
              <value>no</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="placement" a:defaultValue="inline">
            <choice>
              <value>break</value>
              <value>inline</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <ref name="univ-atts"/>
      </define>
      <define name="hazardsymbol.element">
        <element name="hazardsymbol" dita:longName="Hazard Symbol">
          <a:documentation></a:documentation>
          <ref name="hazardsymbol.attlist"/>
          <ref name="hazardsymbol.content"/>
        </element>
      </define>
      <define name="hazardsymbol.attlist" combine="interleave">
        <ref name="hazardsymbol.attributes"/>
      </define>

    </div>
    <div>
      <a:documentation>LONG NAME: Hazard Message panel</a:documentation>
      <define name="messagepanel.content">
        <group>
          <zeroOrMore>
            <ref name="data"/>
          </zeroOrMore>
          <ref name="typeofhazard"/>
          <choice>
            <group>
              <zeroOrMore>
                <ref name="consequence"/>
              </zeroOrMore>
              <oneOrMore>
                <ref name="howtoavoid"/>
              </oneOrMore>
            </group>
            <group>
              <oneOrMore>
                <ref name="howtoavoid"/>
              </oneOrMore>
              <zeroOrMore>
                <ref name="consequence"/>
              </zeroOrMore>
            </group>
          </choice>
          <zeroOrMore>
            <ref name="hazardsymbol"/>
          </zeroOrMore>
        </group>
      </define>
      <define name="messagepanel.attributes">
        <ref name="univ-atts"/>
      </define>
      <define name="messagepanel.element">
        <element name="messagepanel" dita:longName="Hazard Message panel">
          <a:documentation></a:documentation>
          <ref name="messagepanel.attlist"/>
          <ref name="messagepanel.content"/>
        </element>
      </define>
      <define name="messagepanel.attlist" combine="interleave">
        <ref name="messagepanel.attributes"/>
      </define>

    </div>
    <div>
      <a:documentation>LONG NAME: The Type of Hazard</a:documentation>
      <define name="typeofhazard.content">
        <zeroOrMore>
          <choice>
            <ref name="words.cnt"/>
            <ref name="ph"/>
            <ref name="tm"/>
            <ref name="hazardsymbol"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="typeofhazard.attributes">
        <ref name="univ-atts"/>
      </define>
      <define name="typeofhazard.element">
        <element name="typeofhazard" dita:longName="The Type of Hazard">
          <a:documentation></a:documentation>
          <ref name="typeofhazard.attlist"/>
          <ref name="typeofhazard.content"/>
        </element>
      </define>
      <define name="typeofhazard.attlist" combine="interleave">
        <ref name="typeofhazard.attributes"/>
      </define>

    </div>
    <div>
      <a:documentation>LONG NAME: Consequences of not Avoiding the Hazard</a:documentation>
      <define name="consequence.content">
        <zeroOrMore>
          <choice>
            <ref name="words.cnt"/>
            <ref name="ph"/>
            <ref name="tm"/>
            <ref name="hazardsymbol"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="consequence.attributes">
        <ref name="univ-atts"/>
      </define>
      <define name="consequence.element">
        <element name="consequence" dita:longName="Consequences of not Avoiding the Hazard">
          <a:documentation></a:documentation>
          <ref name="consequence.attlist"/>
          <ref name="consequence.content"/>
        </element>
      </define>
      <define name="consequence.attlist" combine="interleave">
        <ref name="consequence.attributes"/>
      </define>

    </div>
    <div>
      <a:documentation>LONG NAME: How to Avoid the Hazard</a:documentation>
      <define name="howtoavoid.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph"/>
            <ref name="sl"/>
            <ref name="ol"/>
            <ref name="ul"/>
            <ref name="simpletable"/>
            <ref name="hazardsymbol"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="howtoavoid.attributes">
        <ref name="univ-atts"/>
      </define>
      <define name="howtoavoid.element">
        <element name="howtoavoid" dita:longName="How to Avoid the Hazard">
          <a:documentation></a:documentation>
          <ref name="howtoavoid.attlist"/>
          <ref name="howtoavoid.content"/>
        </element>
      </define>
      <define name="howtoavoid.attlist" combine="interleave">
        <ref name="howtoavoid.attributes"/>
      </define>

    </div>
  </div>
  <div>
    <a:documentation>Specialization attributes. Global attributes and class
      defaults</a:documentation>

    <define name="hazardstatement.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/note hazard-d/hazardstatement "/>
      </optional>
    </define>
    <define name="messagepanel.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div hazard-d/messagepanel "/>
      </optional>
    </define>
    <define name="hazardsymbol.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/image hazard-d/hazardsymbol "/>
      </optional>
    </define>
    <define name="typeofhazard.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div hazard-d/typeofhazard "/>
      </optional>
    </define>
    <define name="consequence.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div hazard-d/consequence "/>
      </optional>
    </define>
    <define name="howtoavoid.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div hazard-d/howtoavoid "/>
      </optional>
    </define>
  </div>
</grammar>
