doctypes/rng/base/mapGroupDomain.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng"
                         schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:dita="http://dita.oasis-open.org/architecture/2005/" xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
    <moduleTitle>DITA Map Group Domain</moduleTitle>
    <headerComment xml:space="preserve">
=============================================================
                   HEADER                                    
=============================================================
 MODULE:    DITA Map Group Domain                            
 VERSION:   2.0                                              
 DATE:      [[[Release date]]]                                    
 PURPOSE:   Define elements and specialization attributes    
            for Map Group Domain                             
                                                             
=============================================================

=============================================================
                   PUBLIC DOCUMENT TYPE DEFINITION           
                   TYPICAL INVOCATION                        
                                                             
 Refer to this file by the following public identifier or an 
      appropriate system identifier 
PUBLIC "-//OASIS//ELEMENTS DITA 2.0 Map Group Domain//EN"
      Delivered as file "mapGroup.mod"                            

=============================================================
                                                             
            (C) Copyright OASIS Open 2005, 2019.             
            (C) Copyright IBM Corporation 2001, 2004.        
            All Rights Reserved.                             
                                                             
 UPDATES:                                                    
   2018.03.14 KJE: Removed @query; added attribute group for
                   use on topichead and topicgroup (to remove
                   @collection-type)		   
   2018.04.09 KJE: Remove @navtitle  
   2019.12.04 KJE: Add mapresources
=============================================================
      
    </headerComment>
    <moduleMetadata>
      <moduleType>elementdomain</moduleType>
      <moduleShortName>mapgroup-d</moduleShortName>
      <modulePublicIds>
        <dtdMod>-//OASIS//ELEMENTS DITA<var presep=" " name="ditaver"/> Map Group Domain//EN</dtdMod>
        <dtdEnt>-//OASIS//ENTITIES DITA<var presep=" " name="ditaver"/> Map Group Domain//EN</dtdEnt>
        <rngMod>urn:oasis:names:tc:dita:rng:mapGroupMod.rng<var presep=":" name="ditaver"/></rngMod>
      </modulePublicIds>
    </moduleMetadata>
  </moduleDesc>
  <div>
    <a:documentation>COMMON ATTRIBUTE SETS</a:documentation>   
  </div>
  <div>
    <a:documentation>ELEMENT TYPE NAME PATTERNS</a:documentation>
    <define name="keydef">
      <ref name="keydef.element"/>
    </define>
    <define name="mapref">
      <ref name="mapref.element"/>
    </define>
    <define name="mapresources">
      <ref name="mapresources.element"/>
    </define>
    <define name="topicgroup">
      <ref name="topicgroup.element"/>
    </define>
    <define name="topichead">
      <ref name="topichead.element"/>
    </define>
  </div>

  <div>
    <a:documentation>Define domain extension patterns</a:documentation>
    <define name="mapgroup-d-topicref">
      <choice>
        <ref name="keydef.element"/>
        <ref name="mapref.element"/>
        <ref name="mapresources"/>
        <ref name="topicgroup.element"/>
        <ref name="topichead.element"/>
      </choice>
    </define>
    <define name="topicref" combine="choice">
      <ref name="mapgroup-d-topicref"/>
    </define>
  </div>

  <div>
    <a:documentation>Define elements content and attributes</a:documentation>
    <div>
      <a:documentation>Topic Head</a:documentation>
      <define name="topichead.content">
        <optional>
          <ref name="topicmeta"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="data.elements.incl"/>
            <ref name="navref"/>
            <ref name="topicref"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="topichead.attributes">
        <optional>
          <attribute name="keys"/>
        </optional>
        <ref name="topicref-atts"/>
        <ref name="univ-atts"/>
      </define>
      <define name="topichead.element">
        <element name="topichead">
          <a:documentation></a:documentation>
          <ref name="topichead.attlist"/>
          <ref name="topichead.content"/>
        </element>
      </define>
      <define name="topichead.attlist" combine="interleave">
        <ref name="topichead.attributes"/>
      </define>

    </div>
    <div>
      <a:documentation>Topic Group</a:documentation>
      <define name="topicgroup.content">
        <optional>
          <ref name="topicmeta"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="data.elements.incl"/>
            <ref name="navref"/>
            <ref name="topicref"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="topicgroup.attributes">
        <ref name="topicref-atts"/>
        <ref name="univ-atts"/>
      </define>
      <define name="topicgroup.element">
        <element name="topicgroup">
          <a:documentation></a:documentation>
          <ref name="topicgroup.attlist"/>
          <ref name="topicgroup.content"/>
        </element>
      </define>
      <define name="topicgroup.attlist" combine="interleave">
        <ref name="topicgroup.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>Map Reference</a:documentation>
      <define name="mapref.content">
        <optional>
          <ref name="topicmeta"/>
        </optional>
        <zeroOrMore>
          <ref name="data.elements.incl"/>
        </zeroOrMore>
      </define>
      <define name="mapref.attributes">
        <optional>
          <attribute name="href"/>
        </optional>
        <optional>
          <attribute name="keyref"/>
        </optional>
        <optional>
          <attribute name="keys"/>
        </optional>
        <optional>
          <attribute name="format" a:defaultValue="ditamap"/>
        </optional>
        <ref name="topicref-atts-without-format"/>
        <ref name="univ-atts"/>
      </define>
      <define name="mapref.element">
        <element name="mapref" dita:longName="Map reference">
          <a:documentation></a:documentation>
          <ref name="mapref.attlist"/>
          <ref name="mapref.content"/>
        </element>
      </define>
      <define name="mapref.attlist" combine="interleave">
        <ref name="mapref.attributes"/>
      </define>
    </div>
    
    <div>
      <a:documentation>Key Definition</a:documentation>
      <define name="keydef.content">
        <optional>
          <ref name="topicmeta"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="data.elements.incl"/>
            <ref name="navref"/>
            <ref name="topicref"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="keydef.attributes">
        <optional>
          <attribute name="href"/>
        </optional>
        <optional>
          <attribute name="keyref"/>
        </optional>
        <attribute name="keys"/>
        <optional>
          <attribute name="keyscope"/>
        </optional>
        <optional>
          <attribute name="collection-type">
            <choice>
              <value>choice</value>
              <value>family</value>
              <value>sequence</value>
              <value>unordered</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="processing-role" a:defaultValue="resource-only">
            <choice>
              <value>normal</value>
              <value>resource-only</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="type"/>
        </optional>
        <optional>
          <attribute name="cascade"/>
        </optional>
        <optional>
          <attribute name="scope">
            <choice>
              <value>external</value>
              <value>local</value>
              <value>peer</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="format"/>
        </optional>
        <optional>
          <attribute name="linking">
            <choice>
              <value>none</value>
              <value>normal</value>
              <value>sourceonly</value>
              <value>targetonly</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="toc">
            <choice>
              <value>no</value>
              <value>yes</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="search">
            <choice>
              <value>no</value>
              <value>yes</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="chunk"/>
        </optional>
        <ref name="univ-atts"/>
      </define>
      <define name="keydef.element">
        <element name="keydef">
          <a:documentation></a:documentation>
          <ref name="keydef.attlist"/>
          <ref name="keydef.content"/>
        </element>
      </define>
      <define name="keydef.attlist" combine="interleave">
        <ref name="keydef.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>Map resource</a:documentation>
      <define name="mapresources.content">
        <optional>
          <ref name="topicmeta"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="data.elements.incl"/>
            <ref name="topicref"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="mapresources.attributes">
        <optional>
          <attribute name="href"/>
        </optional>
        <optional>
          <attribute name="keyref"/>
        </optional>
        <optional>
          <attribute name="keys"/>
        </optional>
        <optional>
          <attribute name="keyscope"/>
        </optional>
        <optional>
          <attribute name="processing-role" a:defaultValue="resource-only">
            <choice>
              <value>normal</value>
              <value>resource-only</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="type"/>
        </optional>
        <optional>
          <attribute name="cascade"/>
        </optional>
        <optional>
          <attribute name="scope">
            <choice>
              <value>external</value>
              <value>local</value>
              <value>peer</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="format"/>
        </optional>
        <optional>
          <attribute name="linking">
            <choice>
              <value>none</value>
              <value>normal</value>
              <value>sourceonly</value>
              <value>targetonly</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="toc">
            <choice>
              <value>no</value>
              <value>yes</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="search">
            <choice>
              <value>no</value>
              <value>yes</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <ref name="univ-atts"/>
      </define>
      <define name="mapresources.element">
        <element name="mapresources">
          <a:documentation></a:documentation>
          <ref name="mapresources.attlist"/>
          <ref name="mapresources.content"/>
        </element>
      </define>
      <define name="mapresources.attlist" combine="interleave">
        <ref name="mapresources.attributes"/>
      </define>
    </div>
  </div>
      
  <div>
    <a:documentation>Specialization attributes. Global attributes and class defaults</a:documentation>
    <define name="keydef.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/keydef "/>
      </optional>
    </define>
    <define name="mapref.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/mapref "/>
      </optional>
    </define>
    <define name="mapresources.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/mapresources "/>
      </optional>
    </define>
    <define name="topicgroup.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/topicgroup "/>
      </optional>
    </define>
    <define name="topichead.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ map/topicref mapgroup-d/topichead "/>
      </optional>
    </define>
  </div>
</grammar>